# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo

# Logs
*.log
logs

# OS
.DS_Store

# IDE
.vscode
.idea

# Environment
.env
.env.local

# Changesets
!.changeset/README.md
!.changeset/config.json